## editors
/.idea
/.vscode

## system files
.DS_Store

## npm
/node_modules/
/npm-debug.log

## testing
/coverage/

## temp folders
/.tmp/

# build
/_site/
/dist/
/out-tsc/
/.settings/
/.project

# cypress
/cypress/e2e/1-getting-started/
/cypress/e2e/2-advanced-examples/
/cypress/screenshots/
/cypress/videos/
